@font-face {
  font-family: font1;
  src: url("../fonts/KidFromHell.ttf");
}
body{
  text-align: center;
  height: 100vh;
  background-image: url(—Pngtree—3d\ illustration\ of\ a\ cricket_7253495.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3); 
  background-blend-mode: lighten; 
}
.header{
  display:flex;
  justify-content: center;
  align-items: center;
}
#firsth {
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;

}


img{
  right:5px;
  height: 300px;
  width: 370px;
  mix-blend-mode:color-burn;
}
h1{
  left: 50px;
  font-family: font1;
  font-weight: 500;
  font-size: 100px;
  text-transform: uppercase;
  color: black;
  
}
.click{
  height: 100px;
  width:250px;
  margin:0 10px;
  border: none;
  border-radius: 100px;
  font-family: monospace;
  font-size: 40px;
  font-weight: 800;
  color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px rgba(116, 114, 114, 0.9);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.click:hover{
  transform: scale(1.07);
  box-shadow: none;

}
#one{
  background: linear-gradient(90deg, hsla(189, 92%, 69%, 1) 0%, hsla(335, 89%, 66%, 1) 50%, hsla(240, 63%, 57%, 1) 100%);
}
#one:hover{
  color:chartreuse;
}

#two{
  background: linear-gradient(90deg, hsla(179, 83%, 64%, 1) 0%, hsla(338, 75%, 64%, 1) 50%, hsla(14, 92%, 86%, 1) 100%);
}
#two:hover{
  color:chartreuse;
}
#three{
  background: linear-gradient(90deg, hsla(53, 84%, 74%, 1) 0%, hsla(336, 87%, 61%, 1) 50%, hsla(262, 81%, 71%, 1) 100%)
}
#three:hover{
  color:chartreuse;
}


