@font-face {
  font-family: font1;
  src: url("../fonts/White\ On\ Black.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, hsla(189, 86%, 64%, 1) 0%, hsla(277, 67%, 77%, 1) 50%, hsla(218, 88%, 59%, 1) 100%);
  /* background: url("images/pickled-stardust-ELxsvsbGCo4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3); 
  background-blend-mode: lighten; 
  padding-top: 150px;  /* Prevent content from overlapping with header */
}
.header{
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;       /* Align items vertically */
  height: 100px;             /* Adjust header height */
  background-color: none; /* Light background */
  width: 100%;               /* Full width */
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
}

.logo{
  width: 140px;         /* Adjust logo size */
  height: auto;        /* Maintain aspect ratio */
  vertical-align: middle;
  mix-blend-mode:color-burn;
  
}
#firsth{
  background: -webkit-linear-gradient(90deg, hsla(213, 77%, 14%, 1) 0%, hsla(202, 27%, 45%, 1) 100%); 
  
  -webkit-background-clip : text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: font1;
  font-size: 5.5rem;   /* Adjust heading size */
  font-weight: bold;
  display: flex;
  align-items: center; /* Align text with image */
  gap: 10px;          /* Space between text and logo */

  
}
.click{
  height:250px;
  width: 250px;
  margin: 0px 20px;
  border-radius: 200px;
  background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  mix-blend-mode:normal;
}
.click:hover {
  background-color: rgb(255, 255, 255);
}
.image{
  height: 160px;
}





