body{
  text-align: center;
  font-family: "Poppins", serif;
  background-image: url(—Pngtree—3d\ illustration\ of\ a\ cricket_7253495.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4); 
  background-blend-mode: lighten; 
}
h1{
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 0.8px black;
}
.click{
  height: 100px;
  width:200px;
  margin:0 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgb(255, 39, 39);
  font-family: monospace;
  font-size: 30px;
  font-weight: 600;
  color: aliceblue;
  box-shadow: 10px 10px 5px 0 rgb(116, 114, 114,0.9);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.click:hover{
  transform: scale(1.07);
  box-shadow: none;

}



